.studentlist li {
  list-style-type: none;
  font-size: 16px;
  padding: 5px;
}

.letter {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
}
.view-btn {
  height: 50px;
  width: 180px;
  padding: 16px 32px;
  border-radius: 10px;
  border: none;
  background-color: aquamarine;
  transition: 10s;
}
.letter:hover {
  background-color: orange;
}
.trick {
  display: flex;
  justify-content: center;
}
.view-btn:hover {
  background-color: darkcyan;
}
